.leaveNote {
    display: flex;
    flex-direction: column;
}

.leaveNote > div:first-child {
    line-height: 1.25em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.leaveNote > div > h2 {
    font-size: 2em;
}

sup {
    font-size: xx-small;
}

.noteInputs {
    display: flex;
    flex-direction: column;
    padding: 16px 0 16px 0;
    justify-content: space-between;
    width: 100%;
    gap: 1em;
}

.smallInputContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
}

.smallInput {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 0.25em;
}

.smallInput > input {
    padding: 0.5em;
}

.smallInput > div {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.smallInput > div > p {
    font-size: 1.4em;
    color: red;
}

.textArea {
    max-width: fit-content;
    background-color: #cccccc;
    color: rgb(95, 94, 94);
    padding: 1em;
    border-radius: 8px;
    border: 2px solid transparent;
    outline: none;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1em;
    line-height: 1.4;
    transition: all 0.2s;
    resize: none;
}

.textArea:hover {
    cursor: pointer;
    background-color: #eeeeee;
}

.textArea:focus {
    cursor: text;
    background-color: #eeeeee;
    color: rgb(47, 79, 79);
    border-color: rgb(67, 116, 116);
}

.largeInputContainer {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

.largeInputContainer > div {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.largeInputContainer > div > p {
    font-size: 1.4em;
    color: red;
}

.sendButton {
    width: 5em;
    height: 2em;
    align-self: end;
    background-color: #3E8DE3;
    border: none;
    border-radius: 8px;
}

.sendButton:hover {
    cursor: pointer;
}

.sendButton:active {
    background-color: #235488;
}