.sandbox {
    background-color: rgb(40, 40, 45);
    border-radius: 8px;
    height: 600px;
    padding: 16px;
}

.sandboxTabs {
    display: flex;
    gap: 16px;
}

.sandboxArea {
    width: 100px;
    height: 100px;
    margin: 16px;
}