.socialLinks {
    display: flex;
    justify-content: center;
    gap: 16px;
    transition: background-color 0.2s ease-in-out;
}

.socialLinks > a {
    font-size: 2em;
    text-decoration: none;
    color: #3E8DE3;
    transition: background-color 0.2s ease-in-out;
    width: 1.5em;
    height: 1.5em;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (hover: hover) {
    .socialLinks > a:hover {
        background-color: rgba(24, 44, 73, 0.8);
    }
}