:root {
    --primary-color: #D3D4D7;
    --secondary-color: #3E8DE3;
    --tertiary-color: #143AA2;
    --bg-color: #04060D;
    --project-collapsible-bg-color: #131d3f;
    --logo-circle-color: #d3a673;
    --logo-letters-color: #9a1818;
    --logo-bg-color: #1a0b06;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: rgb(24, 44, 73);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: var(--body-item-gap);
    margin-top: 32px;
}

header {
    display: flex;
    justify-content: space-between;
}

footer {
    width: 100%;
    height: 2.5rem;
}

.truncate {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.darkerText {
    color: var(--tertiary-color);
}

.lighterText {
    color: var(--secondary-color);
}

.bodyText {
    color: #830202;
}