:root {
    --primary-color: #D3D4D7;
    --secondary-color: #3E8DE3;
    --tertiary-color: #143AA2;
    --bg-color: #04060D;
    --bg-color2: #202124;
    --project-collapsible-bg-color: #131d3f;
    --logo-circle-color: #d3a673;
    --logo-letters-color: #9a1818;
    --logo-bg-color: #1a0b06;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: var(--bg-color2);
    color: var(--primary-color);
    min-height: 100vh;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
}

.sandboxDrawer {
    position: absolute;
}

.truncate {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.darkerText {
    color: var(--tertiary-color);
}

.lighterText {
    color: var(--secondary-color);
}

.bodyText {
    color: #830202;
}

#root {
    height: calc(100% - 1em);
}

html {
    height: 100%;
}